# Contenedores
*.sif
*.img
*.simg

# Resultados grandes
resultados/

# Datos pesados
data/secuencias_rachel/
data/secuencias_douglas/
data/mis_secuencias/

# Alineamientos
*.fasta
*.phy
*.nex

# Árboles
*.tree
*.tre
*.t
*.trprobs
*.parts
*.ckp
*.run*
*.mcmc
*.p

# Logs
*.log

# Variables sensibles
.env
